{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'custom/css/custom.css'%}">

<header class="header-base" style="margin-top: 100px;">
    <div class="container">
        <h1>Reset Password</h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Reset password</a></li>
        </ol>
    </div>
</header>
<div class="login_bg">
    <br>
    <form action="" method="post">
        <div class="row">
            <div class="col-lg-12">
                <h2>Password Reset</h2>
                <h5>
                    Forgotten your password ? Enter your email address below,
                    and we’ll email instructions for setting a new one.
                </h5>
                <form class="contact-form" method="POST">
                    {% csrf_token %}
                    {{form.email.label_tag}}
                    {{form.email}}
                    <button type="submit" id="reg_submit" style="margin-top: 10px;">Send mail</button>
                </form>
                <br>
            </div>
        </div>
    </form>
</div>


{% endblock %}

