{% load static %}
<!DOCTYPE html>
    <html lang="en">
      <head>
        <base href="./">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="Apex fortitude">
        <meta name="author" content="Łukasz Holeczek">
        <meta name="keyword" content="Investment">
        <title>ZenithPort</title>
        
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        <!-- Vendors styles-->
        <link rel="stylesheet" href="{% static 'vendors/simplebar/css/simplebar.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/css/vendors/simplebar.css' %}">
        <!-- Main styles for this application-->
        <link href="{% static 'vendors/css/style.css' %}" rel="stylesheet">
        <!-- We use those styles to show code examples, you should remove them in your application.-->
        <link href="{% static 'vendors/css/examples.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/@coreui/chartjs/css/coreui-chartjs.css' %}" rel="stylesheet">
      </head>
      <body>
        <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar" style="padding-left: 10px;">
          <div class="sidebar-brand d-none d-md-flex">
            <a href="{% url 'home' %}"><img class="sidebar-brand-full" src="{% static 'media/logos.png' %}" style="height: 50px;" alt="logo"/></a>
          </div>
          <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
            <li class="nav-title">Menu</li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">
                <i class="fa-brands fa-windows nav-icon"></i> Dashboard</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'transaction' %}">
              <i class="fa-solid fa-clock-rotate-left nav-icon"></i>Transactions</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'deposit' %}">
                <i class="fa-solid fa-sack-dollar nav-icon"></i> Deposit</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'withdrawal' %}">
              <i class="fa-solid fa-money-bill-transfer nav-icon"></i>Withdrawal</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'initiatetransfer' %}">
              <i class="fa-solid fa-arrow-right-arrow-left nav-icon"></i>Transfer</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'active' %}">
              <i class="fa-solid fa-hand-holding-dollar nav-icon"></i>Investment</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'referal' %}">
              <i class="fa-solid fa-file-contract nav-icon"></i>Referral</a>
            </li>
            {% if user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'email' %}">
              <i class="fa-solid fa-envelope nav-icon"></i>Send Email</a>
            </li>
            {% else %}
            {{empty}}
            {% endif %}
            
            <li class="nav-title">Settings</li>
            <li class="nav-item"><a class="nav-link" href="{% url 'details' %}">
                <i class="fa-solid fa-user nav-icon"></i> My Profile</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'editprofile' %}">
                <i class="fa-solid fa-pen-to-square nav-icon"></i> Edit Profile</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">
                <i class="fa-solid fa-right-from-bracket nav-icon"></i> Logout</a>
            </li>
          </ul>
        </div>
        <div class="wrapper d-flex flex-column min-vh-100 bg-light">
          <header class="header header-fixed mb-4">
            <div class="container-fluid">
              <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                <i class="fa-solid fa-bars"></i>
              </button>
              <!--Notification begin-->
              <ul class="header-nav ms-auto">
                <!-- message notification -->

                <li class="nav-item dropdown" id="bell"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-md"><i class="fa-regular fa-bell"><sup style="background-color: red; border-radius: 50%; color: white; padding: 2px 3px; font-size: x-small;" id="notify" >{% if num is None %}0{% else %}{{num}}{% endif %}</sup></i></div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end pt-0">
                    <div class="dropdown-header bg-light py-2" style="width: 45vh;">
                      <div class="fw-semibold" style="color: black ; padding-bottom: 10px;">Messages</div>
                    </div>
                    
                    {% if item is not None %}
                    {% for d in item %}
                    <div class="dropdown" style="padding-left: 10px;" id="msg{{d.pk}}">
                      <div>
                        <p style="font-weight: bold; text-transform: uppercase; margin: 0;">{{d.subject}}</p>
                        <span style="float: right; padding-right: 10px;"><i class="fa-solid fa-trash" id="{{d.pk}}" style="color: red;"></i></span>
                        <small style="font-weight: bold;">({{d.date_created|date:'M D, Y'}})</small>
                      </div>
                      <p class="message" style="font-size: 150;">{{d.message}}</p>  
                    </div> 
                    <hr>
                    {% endfor %}
                    {% else %}
                    {{empty}}
                    {% endif %}
                  </div>
                </li>
              </ul>
            </div>
            <div class="header-divider"></div>
            <div class="container-fluid">
              <nav aria-label="breadcrumb">
                <div style="text-align: end;"><strong>Hi {{request.user}}</strong> <i class="fa-regular fa-circle-user"></i></div>
              </nav>
            </div>
          </header>
          {% block body %}
          {% endblock %}
          <footer class="footer">
            <div class="container-fluid">
              <div><script>document.write(new Date().getFullYear())</script>©Zenithport All right reserved.</div>
            </div>
          </footer>
        </div>

        <script>
          var token =  '{{csrf_token}}'
          const bell = document.getElementById('bell')
          const del = document.querySelectorAll('.fa-trash')
          const notify = document.getElementById('notify')
          bell.addEventListener('click', (e)=>{
            e.stopPropagation()
          })
          del.forEach((e)=>{
            e.addEventListener('click', (d)=>{
              $.ajax({
                url: '/update_notification/',
                type: 'post',
                data:{
                  id: d.target.id
                },
                headers: { "X-CSRFToken": token },
                success: function(response){
                  const msg = document.getElementById(`msg${d.target.id}`)
                  msg.remove()
                  if(parseInt(notify.innerText) >= 1){
                    notify.innerText = `${parseInt(notify.innerText)- 1}`
                  }
                  
                  
                },
                error: function(error){
                  console.log('An error occured')
                }
              })
            })

          })

        </script>
        <!-- CoreUI and necessary plugins-->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{% static 'vendors/@coreui/coreui/js/coreui.bundle.min.js' %}"></script>
        <script src="{% static 'vendors/simplebar/js/simplebar.min.js' %}"></script>
        <!-- Plugins and scripts required by this view-->
        <script src="https://kit.fontawesome.com/82d49a62e0.js" crossorigin="anonymous"></script>
        <script src="{% static 'vendors/chart.js/js/chart.min.js' %}"></script>
        <script src="{% static 'vendors/@coreui/chartjs/js/coreui-chartjs.js' %}"></script>
        <script src="{% static 'vendors/@coreui/utils/js/coreui-utils.js' %}"></script>
        <script src="{% static 'vendors/js/main.js' %}"></script>
        <script>
        </script>
    
      </body>
    </html>