{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'custom/css/custom.css'%}">
<main>
    <section class="section-image section-home-one no-padding-y" style="background-image:url('/static/media/hd-1.jpg')">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-7">
                    <hr class="space-lg" />
                    <h3 class="text-color-2">
                        ACCELERATE THE USER EXPERIENCE
                    </h3>
                    <ul class="slider" data-options="arrows:false,nav:false,autoplay:3000,controls:out">
                        <li>
                            <h1 class="text-uppercase">Put your effort exactly where your business needs it</h1>
                        </li>
                        <li>
                            <h1 class="text-uppercase">Invest Earn and smile, we are here for your financial assistance</h1>
                        </li>
                        <li>
                            <h1 class="text-uppercase">Have the courage to follow your heart and intuition.</h1>
                        </li>
                    </ul>
                    <p>
                        Crypto Currency is a digital currency, created and held electronically. It is an internet-based medium of exchange which uses cryptographic functions to conduct financial transactions. They are not printed, like other currencies – they are produced by people, and increasingly businesses, running computers all around the world, using software that solves mathematical problems.
                    </p>
                    {% if not request.user.is_authenticated %}
                    <hr class="space-sm" />
                    <a href="{% url 'register' %}" class="btn btn-sm width-190 full-width-sm">Register</a>
                    <a href="{% url 'login' %}" class="btn btn-border btn-sm width-190 active full-width-sm">Login</a>
                    <hr class="space-lg" />
                    {% endif %}
                </div>
                <div class="col-lg-5 hidden-md" style="margin-top: 90px;">
                    <hr class="space-sm" />
                    <img data-anima="fade-bottom" data-time="1000" class="slide-image"
                        src="{% static 'media/man3.png' %}" alt="" />
                </div>
            </div>
        </div>
    </section>
    
    <section class="section-base">
        <div class="container">
            <div class="row row-fit-lg" data-anima="fade-bottom" data-time="1000">
                <div class="col-lg-6">
                    <ul class="slider" data-options="arrows:true,nav:false">

                        <li>
                            <a class="img-box img-box-caption " style="::before{content: '';}"
                                href="#"
                                data-lightbox-anima="fade-top">
                                <img src="{% static 'media/client2.jpg' %}" alt="">
                                <span>Rilwanu Az</span>
                            </a>
                        </li>

                        <li>
                            <a class="img-box img-box-caption lightbox" href="" data-lightbox-anima="fade-top">
                                <img src="{% static 'media/image12.jpg' %}" alt="">
                                <span>H.E DR TARIQ ABDULQADER</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="title">
                        <h2>Our values and goals</h2>
                        <p>About us</p>
                    </div>
                    <p>
                        Apex-fortitude is a private, legally registered online investment company with the
                        goal of earning the greatest profit possible from Foreign exchange trading. If this sounds
                        like your ideal situation, and if you are considering entering the online investment
                        marketing, we strongly recommend giving us here at Apex-fortitude a try; we are
                        positive that you will be able to become a huge success in partnership with our company.
                    </p>

                    <!--Signature placement-->
                </div>
            </div>
        </div>
    </section>

    <center>     
        <h2> INVESTMENT GUIDE</h2><br>
        <iframe width="380" height="330" src="{% static 'media/apexfortitude.mp4' %}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    </center>

    <section class="section-base section-color">
        <div class="container">
            <div class="row" data-anima="fade-bottom" data-time="1000">
                <div class="col-lg-6">
                    <div class="title">
                        <h2>Core Technology services</h2>
                        <p>Our services</p>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <div class="grid-list" data-columns="3" data-columns-md="2" data-columns-sm="1" data-anima="fade-bottom"
                data-time="1000">
                <div class="grid-box">
                    <div class="grid-item">
                        <div class="cnt-box cnt-box-info boxed" data-href="#">
                            <a href="#" class="img-box"><img src="{% static 'media/client.jpg' %}"
                                    alt="" /></a>
                            <div class="caption">
                                <h2>Investment Management</h2>
                                <p>
                                    We serve high-net-worth individuals, and foundations, providing investment
                                    management services and offer investment products to achieve investment goals
                                    and financial well-being.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="grid-item">
                        <div class="cnt-box cnt-box-info boxed" data-href="#">
                            <a href="#" class="img-box"><img src="{% static 'media/client2.jpg' %}"
                                    alt=""  style="height: 30vh; object-fit: cover;"/></a>
                            <div class="caption">
                                <h2>Investing and Lending</h2>
                                <p>
                                    We provides a variety of services to bring investors together with projects and
                                    organizations in need of capital.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="cnt-box cnt-box-info boxed" data-href="#">
                            <a href="#" class="img-box"><img src="{% static 'media/client3.jpg' %}"
                                    alt=""  style="object-fit: cover; height: 28vh; width: 100%;"/></a>
                            <div class="caption">
                                <h2>Transaction and Investment Banking</h2>
                                <p>
                                    At Apex-fortitude, we have been continuously transforming the
                                    traditional money management industry, in order to open the financial markets to
                                    everyone, everywhere.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main>
        <section class="section-base ">
            <div class="container">
                <div class="row" data-anima="fade-bottom" data-timeline="asc" data-time="2000">
                    <div class="col-lg-4 anima">
                        <div class="cnt-box cnt-pricing-table">
                            <div class="top-area">
                                <h2>STARTER TRADERS</h2>
                                <div class="price"><span>4%</span></div>
                                <p>DAILY FOR 3 DAYS</p>
                            </div>
                            <ul>
                                <li>Minimum $50</li>
                                <li>Maximum $999</li>
                                <li>total Profit Return: 12% </li>

                                <li>Referal 2%</li>
                            </ul>
                            <div class="bottom-area">
                                <a class="btn btn-border btn-xs" href="{% url 'active' %}">Invest now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 anima">
                        <div class="cnt-box cnt-pricing-table">
                            <div class="top-area">
                                <h2>PREMIUM TRADERS</h2>
                                <div class="price"><span>6%</span></div>
                                <p>DAILY FOR 5 DAYS</p>
                            </div>
                            <ul>
                                <li>Minimum $1000</li>
                                <li>Maximum $5999</li>
                                <li>Toatal Profits 30%</li>
                                </li>

                                <li>Referal 3%</li>
                            </ul>
                            <div class="bottom-area">
                                <a class="btn btn-border btn-xs" href="{% url 'active' %}">Invest now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 anima">
                        <div class="cnt-box cnt-pricing-table">
                            <div class="top-area">
                                <h2>VIP TRADER </h2>
                                <div class="price"><span>10%</span></div>
                                <p>DAILY FOR 7 DAYS</p>
                            </div>
                            <ul>
                                <li>Minimum $6000</li>
                                <li>Maximum UNLIMITED</li>
                                <li>total Profit Return: 70%</li>

                                <li>Referal 5%</li>
                            </ul>
                            <div class="bottom-area">
                                <a class="btn btn-border btn-xs" href="{% url 'active' %}">Invest now</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </main>
    <br>
    <section class="section-base section-color">
        <div class="container">
            <div class="row" data-anima="fade-bottom" data-time="1000">
                <div class="col-lg-12">
                    <div class="title">
                        <h2>What our clients think</h2>
                        <p>Testimonials feedback</p>
                    </div>
                    <hr class="space-xs" />
                    <ul class="slider controls-top-right"
                        data-options="type:carousel,arrows:false,nav:true,perView:3,perViewMd:2,perViewXs:1,gap:30,controls:out">
                        <li>
                            <div class="cnt-box cnt-box-testimonials-bubble">
                                <p>
                                    Dürüst olmak gerekirse, bu şirket sadece en iyisidir..
                                    Her zaman güvenilir ve güvenilirdirler.
                                </p>
                                <div class="thumb-bar">

                                    <p>
                                        <span>Richard</span>
                                        <span>Virgin</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="cnt-box cnt-box-testimonials-bubble">
                                <p>
                                    Apex-fortitude I'm so much impressed about the originality of this
                                    company, a good reputation. Making all investors happy.congrats
                                </p>
                                <div class="thumb-bar">

                                    <p>
                                        <span>Steve</span>
                                        <span>Germany</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="cnt-box cnt-box-testimonials-bubble">
                                <p>
                                    Yesterday was me, today was Mohammed..
                                    Am enjoying the services been offered by this undisputed platform.
                                    They're so legit, dependable and so secured.
                                    Thanks to Apex-fortitude
                                </p>
                                <div class="thumb-bar">

                                    <p>
                                        <span>Melissa</span>
                                        <span>Moroco</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="cnt-box cnt-box-testimonials-bubble">
                                <p>
                                    Apex-fortitude are very reliable and trust worthy, my family and i are happy
                                    to come acrose this company
                                </p>
                                <div class="thumb-bar">

                                    <p>
                                        <span>Michael</span>
                                        <span>Noway</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section-base">
        <div class="container">
            <div class="row align-items-center" data-anima="fade-bottom" data-time="1000">
                <div class="col-lg-6">
                    <div class="title">
                        <h2>How Apex-Fortitude generates profits</h2>
                        <p>Exclusive benefits</p>
                    </div>
                    <hr class="space-sm" />
                    <ul class="accordion-list">
                        <li>
                            <a href="#"><i class="fa-solid fa-angle-right" style="margin-right: 40px;"></i> Bitcoin mining and Trading</a>
                            <div class="content">
                                <p>
                                    To put it simply, trading is the buying and selling of financial assets.
                                    However, actually trading yourself isn’t quite as straightforward.
                                </p>
                                <p>
                                    There’s a lot to learn and we want to make things as simple as possible for you.
                                    That’s why we’ve created guides covering the most important things to know as a
                                    new trader. Don’t worry, you’ll find no overcomplicated jargon here. Just
                                    easy-to-understand explanations you’ll get your head around in no time.
                                </p>
                                <p>
                                    Basics of Bitcoin Mining
                                </p>
                                <p>
                                    There are three ways to acquire Bitcoin:
                                </p>
                                <ul>
                                    <li>Purchase them on an exchange</li>
                                    <li>Receive them in exchange for goods and services</li>
                                    <li>Mine new Bitcoin</li>
                                </ul>
                                </p>
                                <p>
                                    The process of discovering new Bitcoin is described as mining because it
                                    resembles the process of mining for any other resource. With gold mining, miners
                                    search and dig through the earth in hopes of striking gold.
                                </p>
                                <p>
                                    With Bitcoin, miners attempt to find Bitcoin through solving complex
                                    mathematical problems. Blockchain is the technology that the cryptocurrency is
                                    built on. It is a ledger that is publicly distributed and records every Bitcoin
                                    transaction.
                                </p>
                                <p>
                                    It is literally a digital chain of blocks. Each block contains a group of
                                    Bitcoin transaction information. Miners add to the blockchain by using computer
                                    processing power to solve complex mathematical problems. Solving the problems
                                    will result in the block being successfully added to the chain. The miner who
                                    correctly solves the problem is awarded Bitcoin.
                                </p>
                                <p>
                                    The above forms the basis of the complex process of Bitcoin mining. It helps
                                    keep the payment network secure and trustworthy. The network is built on a
                                    peer-to-peer network, meaning that every single miner across the globe is
                                    contributing their computing power to maintain the network, confirm its
                                    transactions, and keep them secure.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a href="#"><i class="fa-solid fa-angle-right"style="margin-right: 40px;" ></i> Crude oil trading</a>
                            <div class="content">
                                <p>
                                    Crude oil trading offers excellent opportunities to profit in nearly all market
                                    conditions due to its unique standing within the world’s economic and political
                                    systems. Also, energy sector volatility has risen sharply in recent years,
                                    ensuring strong trends that can produce consistent returns for short-term swing
                                    trades and long-term timing strategies.
                                </p>
                                <p>
                                    Crude oil moves through perceptions of supply and demand, affected by worldwide
                                    output as well as global economic prosperity. Oversupply and shrinking demand
                                    encourage traders to sell crude oil markets, while rising demand and declining
                                    or flat production encourages traders to bid crude oil higher.
                                </p>
                                <p>
                                    Professional traders and hedgers dominate the energy futures markets, with
                                    industry players taking positions to offset physical exposure while hedge funds
                                    speculate on long- and short-term direction. Retail traders and investors exert
                                    less influence here than in more emotional markets, like precious metals or high
                                    beta growth stocks.
                                </p>
                                <p>
                                    Retail's influence rises when crude oil trends sharply, attracting capital from
                                    small players who are drawn into these markets by front-page headlines and
                                    table-pounding talking heads. The subsequent waves of greed and fear can
                                    intensify underlying trend momentum, contributing to historic climaxes and
                                    collapses that print exceptionally high volume.
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-angle-right" style="margin-right: 20px;"></i> Agricultural trades and investment</a>
                            <div class="content">
                                <p>
                                    Trade plays a crucial role in delivering food and clothing to consumers
                                    worldwide. It helps to provide greater choice in consumer goods, and has played
                                    a role in reducing food insecurity across the globe.
                                </p>
                                <p>
                                    Over the past decade, international agricultural and food markets have witnessed
                                    a number of changes, which have brought domestic and international markets
                                    closer together. Since 2000, trade in agro-food products has grown strongly –
                                    more strongly than in the preceding decade at close to 8% in real terms annually
                                    between 2001 and 2014 compared to 2% between 1990 and 2000 – as world markets
                                    responded to a more rules-based trading environment, falling tariffs, and
                                    reductions in trade-distorting producer support. Global agricultural production
                                    has also continued to increase, driven by rapid growth in a number of developing
                                    regions, in particular those of Asia and South America.
                                </p>
                                <p>
                                    But agro-food trade isn’t just increasing, it’s becoming ‘global’. The food and
                                    clothing that consumers find in their local stores are increasingly made from a
                                    wider range of products, produced in a wider range of locations across the
                                    globe. Among the changes seen in agro-food markets, there has been a significant
                                    increase in trade among emerging and developing countries, which are increasing
                                    in importance, both as suppliers and markets for agro-food products. Increasing
                                    trade has also been accompanied by deeper integration of the world’s food
                                    system. A growing share of agro-food trade is taking place in global value
                                    chains (GVCs) – agricultural and food processing value chains that are spread
                                    over several countries – linking agro-food sectors and other sectors of the
                                    economy from across the world.
                                </p>
                                <p>
                                    Trade and domestic support measures continue to constrain trade and further
                                    integration of agro-food markets
                                </p>
                                <p>
                                    While international agro-food markets have evolved, most countries continue to
                                    provide support and impose barriers through measures that distort trade and
                                    limit the benefits that international agro-food markets can deliver for
                                    consumers. These measures continue to have significant and negative effects on
                                    the welfare, resilience and food security of consumers and producers, as well as
                                    on agricultural sustainability, and also reduce agricultural and food trade
                                    volumes. And while an objective of many trade and domestic support policies is
                                    to increase food production, there is little evidence that they achieve this
                                    goal: global agricultural and food production would be higher if distorting
                                    support was removed.
                                </p>
                                <p>
                                    New and closer linkages between agricultural and food sectors, and between these
                                    and other sectors of the economy, mean that the impacts of trade and domestic
                                    support measures are transmitted more widely. Globally, around 24% of agro-food
                                    export value comes from imported inputs: industrial inputs (machinery and
                                    fertiliser) and services, as well agriculture and food. Trade policies that act
                                    as barriers to imports directly reduce the competitiveness of a country’s own
                                    agro-food exports by raising input costs.
                                </p>
                                <p>
                                    Other measures that affect the flow of agro-food products across borders can
                                    also reduce trade. Non-tariff measures (NTMs) – those related to laws,
                                    regulations and requirements such as sanitary and phyto-sanitary measures (SPS),
                                    technical barriers to trade (TBT) and customs procedures – can increase trade
                                    costs. Since agro-food products in GVCs may cross borders multiple times before
                                    reaching final consumers, those trade costs can have significant ripple effects
                                    and are most problematic for smaller businesses. While NTMs are in place to
                                    achieve legitimate regulatory goals, they can restrict trade depending on how
                                    they are designed and enforced.
                                </p>
                                <p>
                                    The greatest benefits from reform come when everyone acts together
                                </p>
                                <p>
                                    With regions and sectors becoming more globally connected, countries at all
                                    stages of development have a greater common interest in ensuring that
                                    international agro-food markets are free from distortions.
                                </p>
                                <p>
                                    The gains from reform are greatest when all countries – developed and developing
                                    – act together to reduce trade-related and domestic support. Developed countries
                                    benefit from lower prices for their consumers and production shifts towards more
                                    efficient sectors. For some countries, the gains largely come from reforming
                                    their own distorting policies.
                                </p>
                                <p>
                                    The welfare gains to developing countries are significantly larger when all
                                    countries reduce trade-related and domestic support. This is because the
                                    benefits from reform for developing countries are critically linked to the
                                    actions of other developing countries – reflecting the increase in ‘south-south’
                                    trade.
                                </p>
                                <p>
                                    As the distorting effects of tariffs and domestic support are reduced, the
                                    potentially trade-reducing effects of NTMs will become more apparent. The trade
                                    impacts of such measures can be reduced by removing unnecessary costs that may
                                    arise from poor design or implementation.
                                </p>
                                <p>
                                    In sum, policies matter for the gains from agro-food trade
                                </p>
                                <p>
                                    At the OECD, we analyse the impacts of trade and agricultural policies to assist
                                    countries in making informed policy decisions that will help make agro-food
                                    trade work for all. Countries’ policies that restrict trade or unnecessarily
                                    increase trade costs harm their own domestic economies as well as their trading
                                    partners, by constraining the development of the agro-food sector.
                                </p>
                                <p>
                                    To enhance the gains from trade for agro-food sectors, countries should reduce
                                    their own distorting domestic support and their trade measures,such as tariffs.
                                    By increasing the cost of inputs, these policies reduce export competitiveness
                                    and can constrain a country’s ability to participate in agro-food GVCs.
                                </p>
                                <p>
                                    Well-designed regulations can help build trust and support trade, so countries
                                    should also ensure that NTMs, including SPS and TBT measures, are appropriate,
                                    transparent, and well-founded in science – all ways to ensure that they do not
                                    unnecessarily restrict trade.
                                </p>
                                <p>
                                    Finally, government policies have an important role in providing an enabling
                                    environment that can promote agricultural productivity growth and enhance the
                                    competitiveness of agro-food exports and participation in GVCs through
                                    appropriate investments in key areas such as transport infrastructure, education
                                    and research & development.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-lg-6">
                <img src="media/box-3-v=1.201990.png" alt="" />
                </div>-->

                <div class="col-lg-6" style="padding-top: 24vh; padding-left: 0 ;">
                    <div class="title">
                        <h2>COMPANY LIVE TRANSACTIONS</h2>
                        <p>Exclusive transactions</p>
                    </div>
                    <center>
                        <iframe src="https://www.btcwidget.info/widget/liveTx/%23e4edf3/%23e4edf3/%23ffffff/%23004767/%23ffffff/400/400/7" width="380" height="400" frameBorder="0" scrolling="no"></iframe>
                    </center> 
                </div>
            </div>
        </div>
    </section>
    <section class="section-base section-color">
        <div class="container">
            <div class="row align-items-center" data-anima="fade-bottom" data-time="1000">
                <!--
            <div class="col-lg-6">
                <img src="media/box-4.png?v=1.201990" alt="" />
            </div>
            -->
                <div class="col-lg-12">
                    <div class="title">
                        <h2>You should choose us</h2>
                        <p>Learn From Experts </p>
                    </div>
                    <p>
                        Anyone can invest in crypto currency,forex trade and mining investment and lots more but we
                        advice you understand the markets and protect yourself from losing money. During our
                        courses, you can discover the secrets of transacting crypto currency and forex trade to
                        minimize investment risks.
                    </p>
                    <hr class="space-sm" />
                    <div class="grid-list boxed-area" data-columns="4" data-lightbox-anima="fade-top">
                        <h3>Click here to buy bitcoin</h3>
                        <div class="grid-box">
                            <div class="grid-item">
                                <a class="img-box" href="https://trustwallet.com/" target="_blank">
                                    <img src="{% static 'media/point1.jpg' %}" alt="" style="height: 10vh; width: 100%; object-fit: fill;">
                                </a>
                            </div>
                            <div class="grid-item">
                                <a class="img-box" href="https://www.okx.com/" target="_blank">
                                    <img src="{% static 'media/point2.jpg' %}" alt="" style="height: 10vh; width: 100%; object-fit: fill;">
                                </a>
                            </div>
                            <div class="grid-item">
                                <a class="img-box" href="https://www.luno.com/en/ng" target="_blank">
                                    <img src="{% static 'media/point3.jpg' %}" alt="" style="height: 10vh; width: 100%; object-fit: fill;">
                                </a>
                            </div>
                            <div class="grid-item">
                                <a class="img-box" href="https://accounts.binance.com/" target="_blank">
                                    <img src="{% static 'media/point4.jpg' %}" style="height: 10vh; width: 100%; object-fit: fill;" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr class="space-sm" />
                    <a href="">View Packages <i class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>
            <hr class="space" />
            <hr class="space-xs" />
        </div>
    </section>
</main>
<i class="scroll-top-btn scroll-top show"><i class="fa-solid fa-angle-up"></i></i>

{% endblock %}