{% extends 'base2.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<section class="contact-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7" id="form">
                <form class="contact-form" method="POST">
                    <div class="errors">{{form.errors}}</div>
                    {% csrf_token %}
                    {{form.old_password.label_tag}}
                    {{form.old_password}}
                    <br>
                    {{form.new_password1.label_tag}}
                    {{form.new_password1}}
                    <br>
                    {{form.new_password2.label_tag}}
                    {{form.new_password2}}
                    

                    <button class="site-btn sb-gradients mt-4">Reset Password</button>

                    {% endblock %}
                    
                </form>
            </div>
        </div>
    </div>
</section>